* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: gray;
    height: 500px;
}

.prev-btn {
    background-color: transparent;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border: solid 10px;
    border-color: transparent black transparent transparent;
    position: absolute;
    left: 25%;
    top: 100px;
}

.next-btn {
    background-color: transparent;
    border-color: transparent transparent transparent black !important;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border: solid 10px;
    position: absolute;
    right: 25%;
    top: 100px;
}

.div-img {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.image {
    height: 200px;
}