html { 
    height: 100%;
  }
  
  * { box-sizing: border-box;}
  
body {
    height: 100%;
    margin: 0rem;
    font-size: 16px;
    font-family: 'Museo sans';
}

.container {
    background-color: #3fb498;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.gelezen-goedgekeurd {
    margin: 40px;
    text-align: center;
}

.gelezen-goedgekeurd-title {
    color: #004899;
}

.item-1 {
    display: flex;
    flex-direction: column;
    margin: 10px;
    text-align: center;
    width: 200px;
    margin: auto;
}

.item-2,
.item-3,
.item-4,
.item-5 {
    display: none;
}

.item-quote {
    color: #FFDD00;
}

.ouder {
    color: #004899;
    font-size: 20px;
    margin-top: 0;
}

.kind {
    color: #004899;
    margin-top: 0;
}

@media screen and (min-width: 401px) {

    .item-2,
    .item-3,
    .item-4,
    .item-5 {
        display: flex;
        flex-direction: column;
        margin: 10px;
        text-align: center;
        width: 200px;
    }

    
.inner-container {
    /* position: relative; */
    /* height: 300px; */
}

    .item-container {
        display: flex;
        width: 99999999px;
        /* position: absolute; */
        

    }


}